.card-box {
    position: relative;
    margin: 20px 20px;
    width: 350px;
    height: 450px;
    display: flex;
    align-items: center;
}

.card-container {
    position: relative;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    background: rgb(7, 59, 55);
    transition: 500ms;
}

.card-container:hover {
    height: 450px;
}

.card-line {
    position: absolute;
    border-radius: 10px;
    inset: 0;
    background: rgb(6, 49, 46);
    overflow: hidden;
}

.card-line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent 0%, aqua 30%, aqua 60%, transparent 100%);
    animation: animate 4s linear infinite;
}

.card-container:hover .card-line::before {
    background: linear-gradient(transparent 0%, yellow 30%, yellow 60%, transparent 100%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card-line::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    inset: 2px;
    background: rgb(7, 59, 55);
}

.card-container .img-box {
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgb(6, 49, 46);
    transition: 500ms;
    z-index: 10;
    overflow: hidden;
}

.card-container:hover .img-box {
    width: 180px;
    height: 180px;
}

.card-container .img-box::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    background: linear-gradient(transparent 0%, #ff37cb 30%, #ff37cb 60%, transparent 100%);
    animation: animate2 4s linear infinite;
}

.card-container .img-box::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    inset: 2px;
    background: rgb(7, 59, 55);
}

.card-container:hover .img-box::before {
    background: linear-gradient(transparent 0%, yellow 30%, yellow 60%, transparent 100%);
    animation: animate2 4s linear infinite;
}

@keyframes animate2 {
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card-container .img-box img {
    position: absolute;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    filter: grayscale(1);
}

.card-container:hover .img-box img {
    filter: none;
}

.card-container .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container .content .details {
    padding: 40px;
    text-align: center;
    transform: translateY(160px);
    transition: 500ms;
}

.card-container:hover .content .details {
    transform: translateY(60px);
}

.card-container .content .details h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: aqua;
    line-height: 1.5rem;
}

.card-container:hover .content .details h2 {
    color: yellow;
}

.card-container .content .details h2 span {
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
}


.card-container .content .details .data {
    margin-top: 40px;
    width: 100%;
    line-height: 1rem;
}

.card-container .content .details .data i {
    padding: 5px 10px;
    border: 1px solid yellow;
    color: yellow;
    border-radius: 20px;
}
.card-container .content .details .data span {
    color: white;
}